<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->

    <bean id="userservice" class="org.example.service.Userservice">
        <property name="id" value="10"/>
        <property name="name" value="curry"/>
    </bean>
    <bean id ="userdao" class="org.example.dao.Userdao">
    </bean>

</beans>